<p style="color: green"><%= notice %></p>
<%= render @task %>
<div>
  <%= link_to "Edit this task", edit_project_task_path(@project, @task) %> |
  <%= link_to "Back to tasks", project_tasks_path(@project) %>
  <%= link_to "Back to project", project_path(@project) %>
  <%= button_to "Destroy this task", @task, method: :delete %>
</div>
