<section class="flex flex-col items-center mt-5 max-w-xl mx-auto">
  <% if user_signed_in? %>
    <%= link_to "New Project", new_project_path, class: "border rounded-md hover:bg-gray-300 py-4 w-full text-center"  %>
    <!-- Show the user's projects -->
    <section class="mt-5 w-full">
      <% if @projects %>
        <hr class="mb-2"/>
        <h1 class="text-2xl font-semibold text-left">Your projects</h1>
      <% else %>
        <hr class="mb-2"/>
        <h1>No projects yet, 
          <span class="text-cyan-500">
            <%= link_to "create one", new_project_path %>
          </span>
        </h1>
      <% end %>
      <!-- List only 3 projects -->
      <% @projects = @projects[0..2] %>
      <% @projects.each do |project| %>
        <div class="border rounded-md mt-4 p-5">
          <!-- Project title -->
          <p class="text-xl mb-4"><%= project.title %></p>
          <!-- Link to the project -->
          <p><%= link_to "Show this project", project, class:"text-cyan-500 hover:text-cyan-600 hover:bg-gray-200 p-2 rounded-md" %></p>
        </div>
      <% end %>
      <% if @projects.size > 2 %>
        <p class="text-right mt-4">
          <%= link_to "Show all projects", projects_path, class:"text-cyan-500 hover:text-cyan-600 hover:bg-gray-200 p-2 rounded-md" %>
        </p>
      <% end %>
    </section>
  <% else %>
    <h1>Welcome, please 
      <span class="text-cyan-500">
        <%= link_to "sign in", new_user_session_path %>
      </span>
      or 
      <span class="text-cyan-500">
        <%= link_to "sign up", new_user_registration_path %>
      </span>
      to enter.</h1>
  <% end %>
</section>
