<section class="flex flex-col mt-5 max-w-xl mx-auto">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-xl font-semibold"> Project information </h1>
  <% if user_signed_in?%>
    <% if current_user.id == @project.user_id %>
      <div class="border rounded-md mt-4 p-5">
        <!-- Project title -->
        <h2 class="text-xl mb-4"><%= @project.title %></h2>
        <hr />
        <!-- Description of the project -->
        <p class="mt-4"><%= @project.description %></p>
      </div>
      <h1 class="text-xl font-semibold mt-5">Tasks</h1>
      <%= link_to "New task", new_project_task_path(@project), class: "border rounded-md hover:bg-gray-300 py-4 w-full text-center"  %>
      <div class="border rounded-md mt-4 p-5">
        <% @project.tasks.each do |task| %>
          <h2 class="text-xl mb-4"><%= task.title %></h2>
          <hr />
          <p class="my-4"><%= task.description%></p>
          <% if task.completed %>
            <span>Task completed</span>
          <% else %>
            <span>Task has not been completed</span>
          <% end %>
          <%= link_to "Edit this task", edit_project_task_path(@project, task), class:"block text-cyan-500 hover:text-cyan-600 hover:bg-gray-200 p-2 rounded-md" %>
        <% end %>
      </div>
      <div class="flex justify-center mt-4 items-center">
        <%= link_to "Edit this project", edit_project_path(@project), class:"text-cyan-500 hover:text-cyan-600 hover:bg-gray-200 p-2 rounded-md" %>
        <%= link_to "Back to projects", projects_path, class:"text-cyan-500 hover:text-cyan-600 hover:bg-gray-200 p-2 rounded-md" %>
      </div>
      <div class="flex justify-center mt-5 items-center">
        <%= button_to "Destroy this project", @project, method: :delete %>
      </div>
    <% else %>
      <p class="text-center"> You don't have access to this project </p>
    <% end %>
  <% end %>
</section>